# ========== Maven / Spring Boot ==========
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log

# ========== Config / Env ==========
.env
logs
application-local.properties
application-dev.properties
application-prod.properties
*.keystore
*.jks
*.p12

# ========== IDEs ==========
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ========== OS ==========
.DS_Store
Thumbs.db
